.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .title{
        position: absolute;

        .subTitle{
            position: relative;
            text-align: center;

            .iconsContainer{
                margin-top: 20px;
                margin-bottom: 40px;

                .icon{
                    width: 30px;
                    height: 30px;
                    background-color: #fff7fb;
                    border-radius: 8px;
                    padding: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.41);
                    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.41);
                    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.41);
                }
            }

            .todoInput{
                width: 260px;
                margin: 0 auto;
            }

            .todoListContainer{
                background-color: #d9dfe7;
                width: 260px;
                margin: 0 auto;
                margin-top: 20px;
                border-radius: 8px;
                height: 150px;
                overflow: scroll;
                overflow-x: hidden;

                .todoContainer{
                    position: relative;
                    top: -4px;
                    .deleteIcon{
                        position: absolute;
                        top: 0px;
                        right: 0px;
                    }
                }
            }

            .languageSwitchContainer{
                width: 96px;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
    }
}

