// BEST STANDARD SANS_SERIF FREE TYPOS
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900');
// @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import (css) url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

@color-white: #eee;
@color-black: #111;

html {
  height: 100vh;
}

body {
  position: relative;
  color: @color-white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(32, 78, 49, 0.5) 10%, rgba(140, 216, 167, 0.7));
  font-family: 'Nunito', sans-serif;
  overflow-y: hidden;
}

h1 {
  margin: 0;
  font-size: 5em;
  font-weight: 600;
  color: @color-white;
}

h2 {
  margin: 0;
  font-size: 4em;
  font-weight: 700;
  color: @color-white;
}

h3 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
  color: @color-white;
}

h4 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 400;
  color: @color-white;
}

h5 {
  margin: 0;
  font-size: 2em;
  font-weight: 400;
  color: @color-white;
}

h6 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: @color-white;
}

p {
  font-size: 1em;
  font-weight: 200;
}

li {
  list-style: none;
}

a {
  transition: all 300ms;
  color: @color-white;
  opacity: 0.50;
  letter-spacing: 0;
  text-decoration: none;
}

a:hover {
  transition: all 300ms;
  letter-spacing: .1em;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}